<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head') %>
<%- include('partials/header') %>
<body>
    <main>
      <article class="container">
        <header class="mt-2">
          <div class="m-2 md-3 text-center">
            <h1>API BOOK STORE</h1>
            <span>Uma api simples e comp</span>
          </div>
        </header>
      </article>
    </main>
</body>
</html>