<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head') %>
<%- include('partials/header') %>
<body>
    <main>
      <article class="container art-sm">
        <header class="mt-4">
          <div class="center-all">
            <h1>API BOOK STORE</h1>
            <h4>Uma api simples e compacta</h4>
            <p class="min-w">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </header>
      </article>
      <article class="container art-sm ">
        <header class="mt-4">
            <div class="center-all text-center container">
                <h2 class="mb-4">Documentação</h2>
                <div class="row doc-list ">
                    <div class="col-md-4">
                        <h2 class="mb-3">Crud</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Users</a></li>
                            <li><a href="#">User Information</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
   
                    <div class="col-md-4">
                        <h2 class="mb-3">Advance Search</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Users</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                      <h2 class="mb-3">Auth</h2>
                      <ul class="list-unstyled">
                          <li><a href="#">Auth</a></li>
                          <li><a href="#">Token invalid</a></li>
                      </ul>
                  </div>
                </div>
            </div>
        </header>
    </article>
    <footer class="text-center py-4 mt-4">
        <p>&copy; 2023 Myke William. Todos os direitos reservados.</p>
        <p><a href="#" class="text-decoration-none text-dark">linked'n</a></p>
    </footer>
    </main>
</body>
</html>