<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/components/head') %>
<body>
  <main>
      <%- include('partials/components/header') %>

      <section style="height: 100vh;">
        <article>
            <h2>Login:</h2>
        </article>
        <article>
            <h2>Sing up</h2>
        </article>
      </section>

      <%- include('partials/components/footer') %>
    </main>
</body>
</html>