<footer class="text-center py-4">
    <div class="col-md-8 link-footer">
        <a href="https://www.linkedin.com/in/myke-william-836381244/" target="_blank" class="text-decoration-none text-dark">Linked'n</a>
        <a href="https://github.com/CodeWizardMyke" target="_blank" class="text-decoration-none text-dark" rel="noopener noreferrer">Git Hub</a>
        <a href="mailto:maikewilliam.dev@gmail.com" class="text-decoration-none text-dark" rel="noopener noreferrer">Email</a>
        <span>Contato: 55+ 11 978187018</span>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <p>&copy; 2023 Myke William. Todos os direitos reservados.</p>
</footer>