<footer class="text-center py-4">
    <p>&copy; 2023 Myke William. Todos os direitos reservados.</p>
    <p><a href="https://www.linkedin.com/in/myke-william-836381244/" target="_blank" class="text-decoration-none text-dark">Linked'n -> Myke William</a></p>
    <p><a href="https://github.com/CodeWizardMyke" target="_blank" class="text-decoration-none text-dark" rel="noopener noreferrer">Git Hub -> Code Wizard Myke</a></p>
    <script src="/javascripts/index.js"></script>
</footer>