<header class="p-2">
    <nav class="nav-header">
        <div class="col-md-3 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">API BOOK STORE</a>
        </div>
        <ul class="nav col-12 col-md-8">
            <li><a href="/" class="nav-link text-dark">Home</a></li>
            <li><a href="/about" class="nav-link text-dark">About</a></li>
        </ul>
    </nav>
</header>