<div class="row">
    <h2 class="mb-3 text-center">Crud Cart</h2>
    <section class="col-md-8">
        <article class="mb-5">
            <h2 class="mb-3 text-center">GET</h2>
            <div>
                <h4>URL</h4>
                <pre><%= urlBase.url %>/api/cart</pre>
            </div>
            <div>
                <h4>Header da solicitação</h4>
                <div>
<pre>
    header = {
        method: "GET",
        Authorization: token,
        page: 1,
        size: 50,
    }
</pre>
                    <div>
                        <p>page: opção para definir a paginação</p>
                        <p>size: opção para delimitar quantidade de elementos retornados</p>
                        <p>Para token com permissão de administrador, trará todos os carrinhos no sistema</p>
                        <p>Para token com permissão de usuário, trará apenas o carrinho pertencente ao usuário</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    
    <section class="col-md-8">
        <article class="mb-5">
            <h2 class="mb-3 text-center">POST</h2>
            <div>
                <h4>URL</h4>
                <pre><%= urlBase.url %>/api/cart</pre>
            </div>
            <div>
                <h4>Header da solicitação</h4>
                <div>
<pre>
    header = {
        "method": "POST",
        "Authorization": {token},
        "Content-Type": "application/json"
    }
</pre>
                    <div>
                        <p>Qualquer um com token válido poderá criar um carrinho de compras</p>
                    </div>
                    <div>
                        <h4>Body da requisição</h4>
<pre>
    body = {
        "id_books": 1,
        "type_selected": "kindle_price",
        "qtd_items": 2
    }
</pre>
                    <div>
                        <h4>Valores válidos esperados para o campo: <b>type_selected</b> </h4>
                        <p>type_selected: kindle_price</p>
                        <p>type_selected: common_price</p>
                        <p>type_selected: special_price</p>
                    </div>
                    </div>
                    <div>
                        <p>Cada um dos campos precisa ser preenchido para que a solicitação ocorra com sucesso</p>
                        <p>Haverá uma validação por parte do backend para os casos de divergência de dados</p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="col-md-8">
        <article class="mb-5">
            <h2 class="mb-3 text-center">PUT</h2>
            <div>
                <h4>URL</h4>
                <pre><%= urlBase.url %>/api/cart</pre>
            </div>
            <div>
                <h4>Header da solicitação</h4>
                <div>
<pre>
    header = {
        "method": "PUT",
        "Authorization": {token},
        "Content-type": 'application/json'
    }
</pre>
                    <div>
                        <p>Acesso permitido apenas ao proprietário da conta, ou ao administrador do site.</p>
                    </div>
                    <div>
                        <h4>Body da requisição</h4>
<pre>
    body = {
        "qtd_items": 5,
        "type_selected": "kindle_price",
        "id_cart": 525
}
</pre>
                    </div>
                    <div>
                        <p>Precisa do ID do carrinho a ser atualizado</p>
                        <p>qtd_items é opcional</p>
                        <p>type_selected é opcional</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    
    <section class="col-md-8">
        <article class="mb-5">
            <h2 class="mb-3 text-center">DELETE</h2>
            <div>
                <h4>URL</h4>
                <pre><%= urlBase.url %>/api/cart</pre>
            </div>
            <div>
                <h4>Header da solicitação</h4>
                <div>
<pre>
    header = {
        method: "DELETE",
        Authorization: {token},
        id_cart: 15
    }
</pre>
                    <div>
                        <p>É esperado um token com a permissão de administrador ou ser proprietário da conta</p>
                        <p>Deve ser passado pelo header da solicitação o ID do carrinho a ser deletado</p>
                        <p>Para ser feita a exclusão de dados de um usuário antes deve ser feita a exclusão das informações do mesmo, e não ter efetuado nenhuma compra no site</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
